.breadcrumb-links{
    background-color: #FFFFFF;
    width: 100%;
    height: 38px;
}
.breadcrumb-links ol {
    display: flex;
    align-items: center;
    padding: 9px 20px;
}
.breadcrumb{
    padding: 9px 20px;
}
.bredcrumb-home{
    display: flex;
    align-items: center;
}
.breadcrumb-links a{
    text-decoration: none;
    color: #9197A5;
    font-size: 16px;
}
.active a {
    color: #292929;
}

.bredcrumb-home{
    width: 16px;
    height: 16px;
}
@media only screen and (max-width: 600px) {
    .breadcrumb-links a{
        font-size: 14px;
    }
    .bredcrumb-home{
        width: 14px;
        height: 14px;
    }
}
@media only screen and (max-width: 420px) {
    .breadcrumb-links a{
        font-size: 12px;
    }
    .bredcrumb-home{
        width: 12px;
        height: 12px;
    }
}