<mat-toolbar class="container-fluid">
    <mat-toolbar-row class="left-logos">
        <img src="/assets/images/CrisilLogo.svg" alt="">
        <img src="/assets/images/image.svg" alt="">
    </mat-toolbar-row>
    <mat-toolbar-row class="right-icons">
        <a href="#"><img src="/assets/images/help-circle.svg" alt="icon"></a>
        <a href="#"><img src="/assets/images/code-slash.svg" alt="icon"></a>
        <a href="#"><img src="/assets/images/notification-badged.svg" alt="icon"></a>
        <a href="#"><img src="/assets/images/Avatar.svg" alt="icon"></a>
    </mat-toolbar-row>
    <mat-toolbar-row class="nav-dropdown">
        <label class="dropdown">
            <div class="dd-button">
                <i class="fa-solid fa-ellipsis-vertical" style="color: white; font-size: 20px;"></i>
            </div>
            <input type="checkbox" class="dd-input" id="test">
            <ul class="dd-menu">
                <div class="links">
                    <li><a href="#"><img src="/assets/images/Avatar.svg" alt="icon"></a></li>
                    <a href="#">Profile</a>
                </div>
                <div class="links">
                    <li><a href="#"><img src="/assets/images/notification-badged.svg" alt="icon"></a></li>
                    <a href="#">Notification</a>
                </div>
                <div class="links">
                    <li><a href="#"><img src="/assets/images/code-slash.svg" alt="icon"></a></li>
                    <a href="#">Code</a>
                </div>
                <div class="links">
                    <li><a href="#"><img src="/assets/images/help-circle.svg" alt="icon"></a></li>
                    <a href="#">Help</a>
                </div>
            </ul>
        </label>
    </mat-toolbar-row>
</mat-toolbar>