<h1 mat-dialog-title class="dialog-title">Previous Deal Approver Conditions</h1> 
<div mat-dialog-content class="dialog-contents">    
    <div class="dialog-tabs" style="vertical-align: middle;">
        <p class="dt-1">Condition/Commitment</p>
        <p class="dt-2">Lorem Ipsum</p>
    </div>
    <div class="dialog-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos deserunt quasi eligendi similique nostrum
            earum saepe dignissimos. Aliquam doloribus maxime sint itaque, asperiores rerum dolorum nisi ducimus porro
            excepturi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, maxime earum mollitia neque
            exercitationem architecto molestias ipsa iusto voluptatem necessitatibus, aspernatur pariatur, optio
            dignissimos a maiores. Aperiam dolores sint repellendus?Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Nihil, animi asperiores facere nesciunt libero assumenda minima sed eum saepe soluta eveniet,
            temporibus obcaecati adipisci autem dicta tenetur, velit corrupti aut?</p>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close class="close-btn">Close</button>
    </div>
    <button mat-icon-button class="close-button" mat-dialog-close>
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>